<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @RenderSection("ExternalDependencies", false)

    <link rel="stylesheet" href="~/Content/DevExtreme/dx.common.css" />
    <link rel="stylesheet" href="~/Content/demo-template.css" />
    <link rel="stylesheet" href="~/Content/DevExtreme/dx.@(DemoUtils.GetCurrentTheme(Context)).css" />
    @Styles.Render(BundleConfig.StyleBundlePath)

    @Html.Partial("_DemoStyles")

    @Scripts.Render(BundleConfig.ScriptBundlePath)
    <script>
        DevExpress.devices.current("@(DemoUtils.GetCurrentDevice(Context))");
    </script>
    @RenderSection("Localization", false)
</head>
<body class="dx-viewport">
    <div class="demo-container">
        @RenderBody()
    </div>
</body>
</html>
