@inject DemoMenuMeta meta
@functions {
    string GetSimulatorCssClass() {
        var result = "simulator";
        if(DemoUtils.SIMULATOR_NO_BORDER) {
            result += " simulator-no-border";
        }
        return result;
    }
    bool IsCodeVisible() {
        if(!DemoUtils.DISPLAY_CODE) return false;
        if(DemoUtils.DISPLAY_CODE_FUNC != null && !DemoUtils.DISPLAY_CODE_FUNC(meta.CurrentDemo)) return false;
        return true;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@meta.GetBreadcrumb(meta.CurrentDemo, "{1} - ASP.NET Core {0} Demo | DevExpress")</title>

    @RenderSection("ExternalDependencies", false)
    @await Html.PartialAsync("~/DemoShell/Views/_DemoResources.cshtml")

    @RenderSection("Localization", false)
</head>
<body class="dx-viewport">
    <header class="header">
        <div class="header-container">
            <a class="logo" href="@Url.Content("~/")">
                <span class="dx">DevExpress</span> @DemoUtils.SUITE_NAME
            </a>

            <div class="header-buttons">
                <!--
                --><a class="download" title="Download" href="https://go.devexpress.com/DevExpressDownload_UniversalTrial.aspx" target="_blank">
                    <span class="menu-text">Free Trial</span>
                </a><!--
                --><a class="buy" title="Buy" href="https://www.devexpress.com/Subscriptions/" target="_blank">
                    <span class="menu-text">Buy</span>
                </a><!--
                -->
            </div>
        </div>
    </header>
    <div class="body">
        @await Html.PartialAsync("~/DemoShell/Views/_DemoMenu.cshtml")

        <div class="demo-wrapper">
            <h1>@meta.GetBreadcrumb(meta.CurrentDemo, "{0} ▸ {1}")</h1>

            <div class="description">
                @if(!String.IsNullOrEmpty(meta.CurrentDemo.DescriptionHtml)) {
                    <div>@Html.Raw(meta.CurrentDemo.DescriptionHtml)</div>
                }
            </div>

            <div class="@GetSimulatorCssClass()">
                <div class="demo-device">
                    <div class="demo-display">
                        <div class="demo-container">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>

            @if(IsCodeVisible()) {
            @await Html.PartialAsync("~/DemoShell/Views/_DemoCode.cshtml")
            }
        </div>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="logo"></div>
            <div class="notice">
                Copyright © 2011-@DateTime.Now.Year Developer Express Inc.<br />
                All trademarks or registered trademarks are property of their respective owners.

                <div class="links">
                    <a href="https://www.devexpress.com/aboutus/privacy-policy.xml" target="_blank"> Your Privacy - Legal Statements</a>
                    <br />
                    <a href="https://www.devexpress.com/support/eulas/" target="_blank"> Licensing </a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
