@{
    var zoomLevels = new[] { "month", "year", "decade", "century" };
    var weekNumberRules = new[] { "auto", "firstDay", "firstFourDays", "fullWeek" };
    var weekDays = new[] {
        new { Id = 0, Text = "Sunday" },
        new { Id = 1, Text = "Monday" },
        new { Id = 2, Text = "Tuesday" },
        new { Id = 3, Text = "Wednesday" },
        new { Id = 4, Text = "Thursday" },
        new { Id = 5, Text = "Friday" },
        new { Id = 6, Text = "Saturday" },
    };
}

<div id="container">
    <div class="calendar-container">
        @(Html.DevExtreme().Calendar()
            .ID("calendar-container")
            .Value(DateTime.Now)
            .Disabled(false)
            .FirstDayOfWeek(FirstDayOfWeek.Sunday)
            .ZoomLevel(CalendarZoomLevel.Month)
            .OnValueChanged("calendar_valueChanged")
            .OnOptionChanged("calendar_optionChanged")
        )
    </div>
    <div class="options">
        <div class="caption">Options</div>
        <div class="option">
            @(Html.DevExtreme().CheckBox()
                .Text("Specified min value")
                .OnValueChanged("minValue_changed")
            )
        </div>
        <div class="option">
            @(Html.DevExtreme().CheckBox()
                .Text("Specified max value")
                .OnValueChanged("maxValue_changed")
            )
        </div>
        <div class="option">
            @(Html.DevExtreme().CheckBox()
                .Text("Disable weekend")
                .OnValueChanged("disabledDates_changed")
            )
        </div>
        <div class="option">
            @(Html.DevExtreme().CheckBox()
                .Text("Show week numbers")
                .OnValueChanged("showWeekNumbers_changed")
            )
        </div>
        <div class="option">
            @(Html.DevExtreme().CheckBox()
                .Text("Use the Custom Cell Template")
                .Value(false)
                .OnValueChanged("useCustomTemplate")
            )
        </div>
        <div class="option">
            @(Html.DevExtreme().CheckBox()
                .Text("Disabled")
                .OnValueChanged("disabledState_changed")
            )
        </div>
        <div class="option">
            <span>Zoom Level</span>
            @(Html.DevExtreme().SelectBox()
                .ID("zoom-level")
                .DataSource(zoomLevels)
                .Value(zoomLevels[0])
                .OnValueChanged("zoomLevel_changed")
            )
        </div>
        <div class="option">
            <span>Selected date</span>
            @(Html.DevExtreme().DateBox()
                .ID("selected-date")
                .Value(DateTime.Now)
                .Width("100%")
                .OnValueChanged("selectedDate_changed")
            )
        </div>
        <div class="option">
            <span>First day of week</span>
            @(Html.DevExtreme().SelectBox()
                .DataSource(weekDays)
                .Value(FirstDayOfWeek.Sunday)
                .ValueExpr("Id")
                .DisplayExpr("Text")
                .OnValueChanged("firstDayOfWeek_changed")
            )
        </div>
        <div class="option">
            <span>Week number rule</span>
            @(Html.DevExtreme().SelectBox()
                .DataSource(weekNumberRules)
                .Value(WeekNumberRule.Auto)
                .OnValueChanged("weekNumberRule_changed")
            )
        </div>
    </div>
</div>

<script>
    var date = new Date().getTime();

    function getCalendarInstance() {
        return $("#calendar-container").dxCalendar("instance");
    }

    function isWeekend(date) {
        var day = date.getDay();

        return day === 0 || day === 6;
    }

    function getCellTemplate(data) {
        var cssClass = "";

        if (data.view === 'month') {
            if (!data.date) {
                cssClass = "week-number";
            } else {
                if (isWeekend(data.date))
                    cssClass = "weekend";

                $.each([[1, 0], [4, 6], [25, 11]], function (_, item) {
                    if(data.date.getDate() === item[0] && data.date.getMonth() === item[1]) {
                        cssClass = "holiday";
                        return false;
                    }
                });
            }
        }

        return "<span class='" + cssClass + "'>" + data.text + "</span>";
    }

    function calendar_valueChanged(data) {
        $("#selected-date").dxDateBox("instance").option("value", data.value);
    }

    function calendar_valueChanged(data) {
        if (data.name === 'zoomLevel') {
            $("#zoom-level").dxSelectBox("instance").option('value', data.value);
        }
    }

    function minValue_changed(data) {
        var calendar = getCalendarInstance();
        if(data.value) {
            calendar.option("min", new Date(date - 1000 * 60 * 60 * 24 * 3));
        } else {
            calendar.option("min", null);
        }
    }

    function maxValue_changed(data) {
        var calendar = getCalendarInstance();
        if(data.value) {
            calendar.option("max", new Date(date + 1000 * 60 * 60 * 24 * 3));
        } else {
            calendar.option("max", null);
        }
    }

    function disabledDates_changed(data) {
        var calendar = getCalendarInstance();
        if (data.value) {
            calendar.option("disabledDates", function (data) {
                return data.view === "month" && isWeekend(data.date);
            });
        } else {
            calendar.option("disabledDates", null);
        }
    }

    function firstDayOfWeek_changed(data) {
        getCalendarInstance().option("firstDayOfWeek", data.value);
    }

    function weekNumberRule_changed(data) {
        getCalendarInstance().option("weekNumberRule", data.value);
    }

    function showWeekNumbers_changed(data) {
        getCalendarInstance().option("showWeekNumbers", data.value);
    }

    function useCustomTemplate(data) {
        getCalendarInstance().option("cellTemplate", data.value ? getCellTemplate : "cell");
    }

    function disabledState_changed(data) {
        getCalendarInstance().option("disabled", data.value);
    }

    function zoomLevel_changed(data) {
        getCalendarInstance().option("zoomLevel", data.value);
    }

    function selectedDate_changed(data) {
        getCalendarInstance().option("value", data.value);
    }
</script>
